.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.listContainer {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttonContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.yodaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.quote {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
}
